<div class="container">
  <div class="row">
    <div class="col-12">
      <button role="button" class="btn btn-primary" (click)="onlyOdd = !onlyOdd">
        Only Show Odd Numbers
      </button>
      <br /><br />
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li
            class="list-group-item"
            [ngClass]="{ odd: odd % 2 != 0 }"
            [ngStyle]="{ backgroundColor: odd % 2 != 0 ? 'yellow' : 'transparent' }"
            *ngFor="let odd of oddNumbers"
          >
            {{ odd }}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li
            class="list-group-item"
            *ngFor="let even of evenNumbers"
            [ngClass]="{ even: even % 2 == 0 }"
            [ngStyle]="{ backgroundColor: even % 2 == 0 ? '#efefef' : 'transparent' }"
          >
            {{ even }}
          </li>
        </div>
      </ul>
      <p class="my-4" appBasicHighlight>Style me with basic highlight directive.</p>
      <p class="my-4" appBetterHighlight>Style with this a better directive.</p>
    </div>
  </div>
</div>
